* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#html_table h1 {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px auto;
}

#html_table h2 {
  text-align: center;
  color: red;
  font-weight: bold;
  letter-spacing: 0.02em;
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px auto;
}

#html_table table {
  border: 2px solid indigo;
  min-width: 700px;
  max-width: 1600px;
  margin: 0 auto;
}

#html_table th {
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 0.03em;
  font-size: 20px;
  text-decoration-line: underline;
  display: table-cell;
  background-color: white !important;
}

#html_table td {
  color: black;
  letter-spacing: 0.03em;
  font-family: Arial, Helvetica, sans-serif;
  display: table-cell;
  text-align: start;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: lightcoral;
  padding: 5px;
  font-size: 17px;
}

#html_table tr:nth-child(odd) {
  background-color: darkgrey;
}

#html_table tr:nth-child(even) {
  background-color: white;
}

table {
  display: table;
  border-collapse: separate;
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-style: normal;
  text-align: start;
  border-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.04em;
}

#html_tables {
  margin-top: 50px;
}

#html_tables h1 {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: blue;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 30px auto;
}

#html_tables h2 {
  text-align: center;
  color: red;
  font-weight: bold;
  letter-spacing: 0.02em;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 30px auto;
}
#html_tables th {
  color: darkblue;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  letter-spacing: 0.03em;
  font-size: 20px;
  text-decoration-line: underline;
  display: table-cell !important;
  background-color: white !important;
}

#html_tables table {
  border: 2px solid indigo;
  min-width: 700px;
  max-width: 1600px;
  margin: 0 auto;
}

#html_tables table td {
  color: black;
  letter-spacing: 0.03em;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: table-cell;
  text-align: start;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: lightcoral;
  padding: 5px;
  font-size: 17px;
}

#html_tables table tr:nth-child(odd) {
  background-color: darkgrey;
}

#html_tables table tr:nth-child(even) {
  background-color: white;
}

aside {
  border: 1px solid blue;
  width: 180px;
  height: 520px;
  padding: 5px;
  position: fixed;
  margin-left: 30px;
  background-color: lightgray;
}

a {
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: block;
  color: blue;
  text-align: left;
  padding: 5px;
}
a:hover {
  color: red;
}

a:active {
  color: green;
}

footer {
  background-color: lightgray;
  margin: 0 auto;
  text-align: center;
  padding: 5px 0;
  display: block;
  width: 200px;
}
